{% extends 'master.html' %}
{% block content %}

<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">Leaderboard of {{leagueid}}</h4>

            <a href="#" onclick="Weekly('{{leagueid}}');">Week Wise Report</a>
            <br/>
            <br/>
            <div class="data-tables">
                <table id="dataTable" class="text-center">
                    <thead class="bg-light text-capitalize">
                        <tr>
                          {% for col in titles %}
                            <th>


                                {{col}}


                            </th>
                          {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                      {% for key , value in tables.iterrows() %}
                      {% if value['Rank'] == 1 or  value['Rank'] == 2 or  value['Rank'] == 3  %}
                      <tr style="background-color:#2df160;">
                      {% elif value['Rank'] == (tables|length)-1 or  value['Rank'] == (tables|length)-2 or  value['Rank'] == (tables|length)  %}
                      <tr style="background-color:#eb3c07;">
                      {% else %}
                        <tr>
                          {% endif %}
                          {% for title in titles %}

                                                  <td>{{value[title]}}</td>



                        {% endfor %}
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<form id="hdfleaguefrm" action="/WeeklyReport" method="post">
<input type="hidden" name="hdfleagueid" id='hdfleagueid'>
</form>

<script type="text/javascript">
function Weekly(id){

  $('#hdfleagueid').val(id);
  document.getElementById("hdfleaguefrm").submit();

}

</script>


{% endblock %}
