{% extends 'master.html' %}
{% block content %}

<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            <h4 class="header-title">Leaderboard of {{leagueid}}</h4>

            <a href="#" onclick="Weekly('{{leagueid}}');">Week Wise Report</a>
            <br/>
            <br/>
            <div class="data-tables">
                <table id="dataTable" class="text-center">
                    <thead class="bg-light text-capitalize">
                        <tr>
                          {% for col in column_names %}
                            <th>

                                {{col}}

                            </th>
                          {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                      {% for row in row_data %}
                        <tr>
                        {% for col, row_ in zip(column_names, row) %}
                        <td>{{row_}}</td>
                        {% endfor %}
                      </tr>
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<form id="hdfleaguefrm" action="/WeeklyReport" method="post">
<input type="hidden" name="hdfleagueid" id='hdfleagueid'>
</form>

<script type="text/javascript">
function Weekly(id){
  
  $('#hdfleagueid').val(id);
  document.getElementById("hdfleaguefrm").submit();

}

</script>


{% endblock %}
